VITE_SUPABASE_URL=https://wzayjdislqyqnqsmexyq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind6YXlqZGlzbHF5cW5xc21leHlxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ2Mzc0NjAsImV4cCI6MjEwMDIxMzQ2MH0.U7XFTKykmxvYpGqLdsnLiEiigcpPPEV01ALM2-qGXoo
